/*
    Palette
    (from Google's Material Design palette: google.com/design/spec/style/color.html)

    red       #F44336

    yellow    #FFEB3B

    green     #4CAF50

    l green   #8BC34A

    cyan      #00BCD4

    blue      #2196F3
    blue300   #64B5F6

    pink      #E91E63

    grey200   #EEEEEE
    grey300   #E0E0E0
    grey900   #212121
*/


*, :before, :after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;

    color: inherit;

    text-decoration: none;

    transition-duration: 300ms;
    transition-property: none;
}

/* animation keyframes */

@keyframes cmy-bg {
    0% { background-color: #00BCD4; }
    33% { background-color: #E91E63; }
    67% { background-color: #FFEB3B; }
    100% { background-color: #00BCD4; }
}

/* body */

body {
    box-sizing: border-box;
    overflow-x: hidden;

    margin-top: 75.5px;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;

    background-color: #222222;
    color: #EEEEEE;
}

/* hidden */

.hidden {
    display: none;
}

/* headers */

h1, h2, h3, h4, h5, h6 {
    font-family: "Archivo Black", sans-serif;
    letter-spacing: 0.05em;
    margin: 0.5em 0;
}

h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

h1 {
    font-size: 5em;
    letter-spacing: initial;
    line-height: 1.3;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.7em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.3em;
}

h6 {
    font-size: 1em;
}

/* links */

a {
    color: #64B5F6;
    box-shadow: inset 0 -2px #64B5F6;
    overflow: hidden;

    transition-property: color, box-shadow, background;
}

a:hover {
    color: #EEEEEE;
    box-shadow: inset 0 -1.5em #64B5F6;
}

a.big-button {
    display: inline-block;
    font-size: 1.5em;
    box-shadow: none;
    box-shadow: 0 0 0 1px #64B5F6;
    border-radius: 4px;
    padding: 0.5em 0.7em;
}

a.big-button:before {
    content: "file_download";
    font-family: "Material Icons" !important;
    color: #EEEEEE;
    vertical-align: middle;
    margin-right: 0.2em;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
}

a.big-button:hover {
    background-color: #64B5F6;
}

/* strongs and ems */

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

/* inputs */

input, textarea {
    color: #FFFFFF;

    outline: solid 2px transparent;

    transition-property: color, background, outline;
}

input:focus, textarea:focus {
    outline-color: #EEEEEE;
}

input:not(:focus):valid, textarea:not(:focus):valid {
    outline-color: #8BC34A;
}

input:not(:empty):invalid, textarea:not(:empty):invalid {
    outline-color: #F44336;
}

input, textarea, select {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 0.7em 1em;
}

select {
    height: calc(1em + 0.7em + 0.7em);
}

form {
    margin: 1em 0;
}

form input, form textarea, form select {
    width: 350px;
}

form label {
    display: flex;

    margin-bottom: 0.5em;
    height: 3em;

    align-items: center;
}

form label span {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 1.5em;
}

form button {
    margin-top: 1em;
}

/* paragraphs */

p {
    line-height: 1.5;
    margin: 0.5em 0;
    color: #E0E0E0;
}

p.small {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.8em;
}

/* sections */

header, section {
    padding: 2em;
}

.content {
    position: relative;
}

section {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 3.2em;
    padding-right: 3.2em;
}

section h2 {
    text-align: center;
}

.sidebar {
    position: absolute;

    right: 0;
    top: 0;

    width: 350px;
}

/* hero */

.hero {
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 5em;
    padding-bottom: 5em;
}

.hero .hero_text {
    position: relative;

    width: 900px;
    max-width: 100%;

    color: #FFFFFF;

    z-index: 1;
}

.hero h1, .hero .tagline {
    display: block;
}

.hero h1 {
    line-height: 1;

    text-shadow: 0.07em 0.07em rgba(0, 0, 0, 0.3);
}

.hero .tagline {
    font-size: 1.5em;
    font-weight: 300;
    color: inherit;

    text-shadow: 0.07em 0.07em rgba(0, 0, 0, 0.3);
}

.hero .tagline strong {
    font-weight: 400;
}

.hero .hero_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    pointer-events: none;

    z-index: 0;

    animation: cmy-bg 10s linear infinite;
}

.hero .hero_background > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    min-width: 100%;
    min-height: 100%;
}

/* buttons */

button {
    background: rgba(255, 255, 255, 0.2);
    padding: 0.7em 1em;
    border: none;

    text-transform: uppercase;
    letter-spacing: 0.1em;

    cursor: pointer;

    transition-property: color, background;
}

button:hover {
    background-color: #FFFFFF;
    color: #212121;
}

/* navigation */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(33, 33, 33, 0.7);
    z-index: 999999;
}

.nav_container {
    padding: 0.5em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_title {
    position: relative;
    font-size: 1.5em;

    color: #64B5F6;

    margin-left: 2.2em;
}

.nav_title:before {
    content: "";

    position: absolute;
    top: 50%;
    right: 100%;
    margin-right: 0.5em;

    transform: translateY(-50%);

    width: 1.7em;
    height: 1.7em;

    background-image: url("/img/esf-small.png");
    background-size: contain;
    background-position: center;
}

.nav button {
    background: transparent;
    color: #EEEEEE;
}

.nav_list {
    display: flex;
}

.nav_list a {
    padding: 1em;
}

.nav_list a:hover {
    box-shadow: inset 0 -4em #64B5F6
}

/* grid layout */

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid_item {
    width: calc(50% - 1em);
    margin: 0.5em;
    padding: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}

/* timeline */

.timeline {
    position: relative;

    display: flex;
    justify-content: center;
}

.timeline_axis {
    width: 0.5em;
    border-radius: 4px;

    background-color: rgba(255, 255, 255, 0.2);
}

.timeline_dates {
    padding: 2em;
    width: 350px;
}

.timeline_dates--left {
    text-align: right;
    padding-right: 3em;
}

.timeline_dates--right {
    margin-top: 5.2em;
    padding-left: 3em;
}

.timeline_date {
    position: relative;

    margin-bottom: 7em;
    padding: 1em;

    background-color: rgba(255, 255, 255, 0.1);
}

.timeline_date--highlight {
    background-color: rgba(255, 255, 255, 0.2);
}

.timeline_date h6 {
    margin-top: 0;
}

.timeline_date p {
    margin-bottom: 0;
}

.timeline_date:last-child {
    margin-bottom: 0;
}

.timeline_date:before {
    content: "";

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 0;
    height: 0;
    border-style: solid;
}

.timeline_dates--left .timeline_date:before {
    left: 100%;

    border-width: 0.7em 0 0.7em 1em;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.1);
}

.timeline_dates--left .timeline_date--highlight:before {
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.2);
}

.timeline_dates--right .timeline_date:before {
    right: 100%;

    border-width: 0.7em 1em 0.7em 0;
    border-color: transparent rgba(255, 255, 255, 0.1) transparent transparent;
}

.timeline_dates--right .timeline_date--highlight:before {
    border-color: transparent rgba(255, 255, 255, 0.2) transparent transparent;
}

.timeline_date:after {
    content: "";

    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 1.5em;
    height: 1.5em;

    background-color: #64B5F6;
    box-shadow: 0 0 0 0.5em #212121;
    border-radius: 50%;
}

.timeline_dates--left .timeline_date:after {
    left: calc(100% + 3.23em);
}

.timeline_dates--right .timeline_date:after {
    right: calc(100% + 1.77em);
}

/* footer */

footer {
    font-size: 0.8em;
    background-color: #171717;
    color: rgba(255, 255, 255, 0.5);
    padding: 5em;
    text-align: center;
}

footer p {
    color: inherit;
}

/* specific sections */

#register {
    background-color: #2196F3;
}
