nav.nav(data-scroll-header="")
    .nav_container
        a(href="/")
            h1.nav_title ESF Film Festival 2016
        ol.nav_list
            a(href="/page/join.html")
                li Join now
            a(href="/page/about.html")
                li About
            a(href="/page/timeline.html")
                li Timeline
            a(href="/page/contact.html")
                li Contact
            a(href="/page/resources.html")
                li Resources
            a(href="/page/sponsor.html")
                li Sponsor us
