extends ./jade/page
block content
    header.hero
        .hero_text
            h1 Express your worldview through film.
        .hero_links
            a.big-button.highlight(href="/page/about.html") Learn more
            a.big-button.highlight(href="/page/sponsor.html") Become a sponsor
        .hero_background(style="background-image: url(/img/hero/landing.jpg)")
    script(src="/js/index.js")
