extends ../jade/page
block vars
    - title = "About"
block content
    include ../jade/hero
    section#about
        h2 What is the ESF Film Festival?
        p
            | Participants submit a 5-7 minute film about an important social issue, in any style, convention or form. This is combined with a photographic portfolio of twenty photos recording their process.
        p
            | The best six submissions will be exhibited at the prestigious ESF Film Festival, and will be judged by a panel of experts for three awards - Most Creative; Best Cinematography; and Best Film (Overall). Winners will each receive prestigious trophies, along with prizes such as camera gear and cinema coupons.
        p The ESF Film Festival was initiated by AWARE.
        .grid
            .grid_item
                .item_image
                    i.material-icons.md-48 public
                .item_text
                    p
                        | AWARE is an organization that aims to promote awareness for a wide range of issues affecting teenagers today, be they local or worldwide.
            .grid_item
                .item_image
                    i.material-icons.md-48 group
                .item_text
                    p
                        | The ESF Film Festival was created by AWARE in the spirit of providing young people with the opportunity to create work they care about through the media of film and photography.
            .grid_item
                .item_image
                    i.material-icons.md-48 videocam
                .item_text
                    p
                        | Participants create films addressing important social issues. Excellent films will be rewarded, with outstanding creators receiving the prestigious ESF Film Festival Trophy.
            .grid_item
                .item_image
                    i.material-icons.md-48 mood
                .item_text
                    p
                        | Ultimately, we hope to create a platform where young creators can share, make, and become aware citizens who care and are proactive about expressing their worldview through creativity.
