extends ../jade/page
block vars
    - title = "Resources"
block content
    include ../jade/hero
    section#resources
        h2 Judging Criteria
        img(src="/img/file-preview/Judging%20Criteria%20-%20ESF%20Film%20Festival.png")
        a.big-button(href="/file/Judging%20Criteria%20-%20ESF%20Film%20Festival.pdf", target="_blank", data-icon="visibility") View
